/* eXeLearning Style Designer Compatible Style */
body {
	padding: 0;
	text-align: center;
	height: auto;
	overflow-y: hidden;
}

#content {
	width: 100%;
	max-width: 100%;
	margin: 0 auto;
	text-align: left;
	position: relative;
	border-style: solid;
	border-width: 0
}

#main-wrapper {
	width: 100%;
}

/* * is for IE6 and IE7 */
#main {
	padding: 0px 26px 0px 26px;
    height: auto!important;
    min-height: 200px;
    height: 100vh !important;
	display: block;
	overflow-y: auto;
}

.no-nav #main-wrapper {
	width: 100%
}

.no-nav #main {
	padding: 20px 20px 0 20px
}

#header,
#emptyHeader {
	border-top-width: 0;
	border-right-width: 0;
	border-left-width: 0;
	border-bottom-width: 0;
}

#headerContent {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	min-height: 1.1em;
	margin-left: 4rem;
}

#nodeDecoration {
	background: white;
    padding: 1px;
	margin-right: 17px;
    border-width: 0 0 1px 0;
    min-height: 0px;
    position: absolute;
    width: -webkit-fill-available;
	padding-top: 20px;
    z-index: 999;
	left: 16rem;
	top: 3.6rem;
	transition: background 0.3s ease;
}

#nodeTitle {
	font-weight: 300;
	max-width: 100%;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* Menú */
#siteNav {
	/* width: 280px;
	float: left;
	margin-right: 40px;
	height: 100vh;
	overflow-y: auto; */
}

#siteNav ul,
#siteNav li {
	padding: 0;
	list-style: none;
	margin:auto;
}

#siteNav .other-section {
	display: none
}

#siteNav a {
	display: block;
	padding: 8px 10px 8px 20px;
	border-width: 0 0 1px 0;
	border-style: solid
}

#siteNav .active {
	font-weight: bold;
	text-decoration: underline
}

#siteNav ul ul a {
	margin-left: 1rem;
	font-size: .95em;
	text-align: left;
}

#siteNav ul ul ul a {
	padding-left: 60px
}

#siteNav .daddy span {
	display: none
}

/* IE6 */
* html #siteNav a {
	display: inline-block;
	width: 250px
}

* html #siteNav ul ul a {
	width: 235px
}

* html #siteNav ul ul ul a {
	width: 190px
}

* html #main {
	padding: 20px 20px 0 0
}

#siteFooter {
	padding: 0 20px 20px 20px;
	border: 0
}

/* Pagination */
.pagination {
	text-align: right;
	border-top: 1px solid;
	font-size: .95em;
	padding: 20px 0
}

.pagination .sep {
	display: none
}

.pagination a {
	display: inline-block;
	padding: 5px 10px;
	border-radius: 5px;
	margin-left: 20px
}

.pagination a:hover,
.pagination a:focus {
	text-decoration: none
}

#topPagination {
	position: absolute;
	top: 0;
	right: 20px
}

#topPagination .pagination {
	border: none
}

#bottomPagination {
	clear: both
}

#bottomPagination a {
	margin: 0 20px 0 0
}

.page-counter {
	padding: 5px 0;
	display: inline-block;
	color: #FFF
}

/* Autoclear */
#content {
	/*overflow: auto*/
}

/* Hide/Show/Skip navigation */
#nav-toggler {
	margin: 0;
    position: absolute;
    top: 1rem;
    left: 0.8rem;
    font-size: .95em;
}

#nav-toggler a,
#skipNav a {
	/* padding: 5px 10px;
	border-radius: 5px */
}

#nav-toggler a {
	display: block
}

#nav-toggler a:hover {
	text-decoration: none
}

#skipNav {
	z-index: 100px;
	padding-top: 15px;
	text-align: center
}

/* No opacity */
body .pagination a,
body #nav-toggler a {
	filter: alpha(opacity=100);
	opacity: 1;
	outline: none
}

@media screen and (max-width: 980px) {
	.exe-web-site #content {
		width: 100%;
		border: 0;
		box-shadow: none
	}

	#main {
		padding: 0px 26px 0px 26px;
	}

	#siteNav {
		width: 250px;
		margin-right: 30px
	}
}

@media all and (max-width: 700px) {
	#headerContent {
		font-size: .6em;
		white-space: normal
	}

	#siteNav {
		/*float: none;*/
		width: 100%;
		padding: 0
	}

	#siteNav {
		line-height: 1.5em;
		margin-bottom: 15px
	}

	#main-wrapper {
		width: 100%;
		float: none
	}

	#main,
	.no-nav #main {
		padding: 10px 20px 0 20px
	}

	#content .exe-col {
		float: none;
		width: 100%;
		padding: 0
	}

	#bottomPagination {
		text-align: center;
		height: 35px;
		position: relative
	}

	#bottomPagination .prev {
		position: absolute;
		left: 20px
	}

	#bottomPagination .next {
		position: absolute;
		right: 0
	}

	#siteNav {
		border-top: 1px solid
	}
}

@media print {

	#siteNav,
	#nav-toggler,
	.noprt,
	.toggle-idevice {
		display: none
	}

	body #main,
	body.no-nav #main {
		padding: 20px 0
	}

	body #content {
		background: #FFF;
		box-shadow: none
	}

	#headerContent {
		white-space: normal;
		text-overflow: normal;
		font-weight: bold
	}
}

/* eXeLearning Style Designer */
#content {
	/*pageWidth*/
	width: 100%;
	/*wrapperShadowColor*/
	box-shadow: 0 0 15px 0 #999999;
	/*contentBGColor*/
	background-color: #ffffff;
}

/*useNavigationIcons*/
/*whiteNavigationIcons*/
.pagination a span {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 0;
}

.pagination a,
.pagination a:hover,
.pagination a:focus {
	display: block;
	position: absolute;
	right: 52px;
	width: 32px;
	height: 32px;
	padding: 0;
	background: url(_style_icons_white.png) no-repeat 0 0;
}

.pagination .next,
.pagination .next:hover,
.pagination .next:focus {
	right: 0;
	background-position: -50px 0;
}

.pagination .print-page,
.pagination .print-page:hover,
.pagination .print-page:focus {
	right: 104px;
	background-position: -200px 0;
}

#topPagination {
	width: 50%;
	min-width: 400px;
}

#bottomPagination {
	height: 72px;
	position: relative;
	overflow: hidden
}

#bottomPagination a {
	top: 20px;
	right: 72px;
	margin: 0;
}

#bottomPagination .next {
	right: 20px;
}

#nav-toggler a span {
	position: absolute;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	height: 0;
}

#nav-toggler a { 
	/* mostrar botón display: block;
	width: 32px;
	height: 32px;
	padding: 0;
	background: url(_style_icons_white.png) no-repeat -100px 0; */
}

#nav-toggler a:hover {
	background: url(_style_icons_white.png) no-repeat -100px 0;
}

#nav-toggler .show-nav {
	background-position: -150px 0;
}

#nav-toggler .show-nav:hover {
	background-position: -150px 0;
}

.pagination a,
#nav-toggler a {
	filter: alpha(opacity=70);
	opacity: .7;
}

.pagination a:hover,
.pagination a:focus,
#nav-toggler a:hover {
	filter: alpha(opacity=100);
	opacity: 1;
}

.pagination .page-counter {
	position: absolute;
	line-height: 32px;
	padding: 0;
	right: 156px;
}

#bottomPagination .page-counter {
	right: 104px;
}

@media all and (max-width: 700px) {
	#nav-toggler {
		height: 32px;
	}

	#nav-toggler a {
		padding: 0;
		width: 32px;
		position: absolute;
		left: 50%
	}

	#siteNav {
		border-top: 1px solid #ddd;
	}

	.pagination .page-counter {
		width: 300px;
		left: 50%;
		right: auto;
		margin-left: -150px
	}
}

@media all and (max-width: 400px) {
	.pagination .page-counter {
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		height: 0;
	}
}

body {
	/*bodyBGColor*/
	background-color: #efefef;
}

#topPagination .page-counter {
	color: #ffffff;
}

#siteNav,
#siteNav a {
	
	/* navAColor
	color: #B0BEC5;
	width: 200px;
	padding: 0.6rem */
}

@media screen and (min-width: 701px) and (max-width: 1015px) {

	#siteNav,
	#siteNav ul {
		background-color: #37474f;
	}

	#siteNav li {
		background-color: #37474f;
	}
	
}

#siteNav a:hover,
#siteNav a:focus,
#siteNav a.active {
	/*navAHoverColor*/
	color: #ffffff;
}

.pagination {
	border-color: #e1e4e5;
}

#bottomPagination .page-counter {
	color: #ffffff;
}

#bottomPagination {
	background-color: #7b5b7b;
}

/* eXeLearning Style Designer (custom CSS) */






.pagination .print-page {
	display: none;
}

@media (max-width: 1309px) {
    header#header {
        background: var(--color-header-tablas);
    }
}

/*** General Table Styles **/

table {
	border-radius: 1px;
	border-collapse: separate;
	margin: auto;
	width: 100%;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
	animation: float 5s infinite;
	border: 0;
    box-sizing: unset;
    text-indent: initial;
    border-spacing: 0px;
  }
    
  table tr:first-child td:first-child {
	border-top-left-radius: 3px;
  }
  
  table tr:first-child td:last-child {
	border-top-right-radius: 3px;
	border-right: none;
  }

  tr:first-child {
	border-top: none;
  }
  table tr:first-child td.text-left,
  td.text-left {
	text-align: left;
  }
  
  table tr:first-child td.text-center,
  td.text-center {
	text-align: center;
  }
  
  table tr:first-child td.text-right,
  td.text-right {
	text-align: right;
  }
  
  table tr:first-child span{
	color: #D5DDE5 !important;
  }

  tr {
	border: 1px solid #C1C3D1;
	color: #666B85;
	font-size: 15px;
	font-weight: normal;
	text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
  }
  table tr f
  
  tr:last-child {
	border-bottom: none;
  }
  
  tr:nth-child(odd) td {
	background: #EBEBEB;
  }
  
  tr:last-child td:first-child {
	border-bottom-left-radius: 3px;
  }
  
  tr:last-child td:last-child {
	border-bottom-right-radius: 3px;
  }
  
  td {
	background: #FFFFFF;
	padding: .6rem;
	text-align: left;
	vertical-align: middle;
	font-weight: 300;
	font-size: 15px;
	text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
	border: 1px solid #C1C3D1;
	border-top: none;
	border-left: none;
	border-bottom: none;
  }
  
  td:last-child {
	border-right: 0px;
  }

  #paginacion {
	display: flex;
	justify-content: center; /* Centra los botones en el div */
	padding: 10px; /* Espacio alrededor de los botones dentro del div */
	gap: 10px; /* Espacio entre los botones */
  }
  
  #paginacion button {
	padding: 10px 15px; /* Espacio alrededor del texto dentro de los botones */
	border: none; /* Remueve el borde predeterminado */
	border-radius: 5px; /* Bordes redondeados para los botones */
	background-color: #1E1E1E; /* Color de fondo oscuro para los botones */
	color: #FFFFFF; /* Texto en color blanco */
	cursor: pointer; /* Cambia el cursor a una mano cuando se pasa sobre los botones */
	transition: background-color 0.3s; /* Transición suave para el color de fondo */
  }
  
  #paginacion button:hover {
	background-color: #575757; /* Color de fondo para el botón al pasar el mouse por encima */
  }
  
  #paginacion button:disabled {
	background-color: #3C3C3C; /* Color de fondo para botón deshabilitado */
	color: #a1a1a1; /* Color del texto para botón deshabilitado */
	cursor: default; /* Cursor predeterminado para botón deshabilitado */
  }
  
  /* Estilos para botones deshabilitados */
.paginacion-button.disabled {
	background-color: #474747; /* Color de fondo para botón deshabilitado */
	cursor: not-allowed; /* Cambia el cursor para indicar acción no permitida */
	pointer-events: none; /* Evita que se hagan clics en el botón */
  }
  
  /* Añade efectos al pasar el mouse sobre los botones activos */
  .paginacion-button:not(.disabled):hover {
	background-color: #0056b3; /* Color de fondo al pasar el mouse */
  }

  .resaltado {
    background-color: yellow;
}

#siteNav {
	visibility: collapse;
}