/* eXeLearning Style Designer Compatible Style */
/* vietnamese */
@font-face {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Light"), local("EncodeSans-Light"),
    url(EncodeSans-Light_vietnamese.woff2) format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Light"), local("EncodeSans-Light"),
    url(EncodeSans-Light_latin-ext.woff2) format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "Encode Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Encode Sans Light"), local("EncodeSans-Light"),
    url(EncodeSans-Light_latin.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}
html {
  font-size: 105%;
}
body {
  font: 105%/1.5 "Encode Sans", Arial, Helvetica, sans-serif;
  padding: 15px;
  margin: 0;
}
h2 {
  font-size: 1.3em;
}
h3 {
  font-size: 1.2em;
}
h4 {
  font-size: 1.1em;
}
h5 {
  font-size: 1em;
}
p {
  margin: 1em 0;
}
.score.js-feedback {
  margin-bottom: 1em;
}
#header,
#emptyHeader,
#nodeDecoration {
  padding: 0.6rem;
  height: auto;
  min-height: auto;
  font-size: 1.6em;
  font-weight: 300;
}
#header h1,
#nodeDecoration h1 {
  font-size: 1.6rem;
  text-align: left;
  margin: unset;
}
#nodeDecoration {
  margin-bottom: 15px;
}
/* Single page */
.nodeDecoration h1 {
  font-size: 1.5em;
}
/* iDevices */
.iDevice {
  margin: 20px 0;
}
.iDevice_header {
  letter-spacing: 0.5px;
  padding: 0.5em 40px 0.5em 0;
  height: auto !important;
  height: 1.7em;
  min-height: 1.7em;
  position: relative;
}
.iDevice_header[style] {
  background-image: none !important;
}
.iDeviceTitle {
  font-size: 1.3em;
  vertical-align: bottom;
  top: auto;
  display: inline-block;
  font-weight: 300;
  padding: 5px 10px 5px 43px;
  background-repeat: no-repeat;
  background-position: 0 50%;
  margin: 0;
}
.iDevice_header_noIcon .iDeviceTitle {
  background-image: none;
  padding-left: 20px;
}
.iDeviceTitle {
  display: inline;
  line-height: 2em;
}
/* IE6, IE7 */
.iDevice_inner {
  padding: 10px 20px;
}
/* Clearfix */
.iDevice_content {
  overflow: visible;
}
.FileAttachIdeviceInc .iDevice_content {
  margin-bottom: -0.5em;
}
/* Hide/Show iDevice */
.toggle-idevice {
  display: block;
  margin: 0;
  text-align: right;
  height: 16px;
}
.toggle-idevice a {
  display: block;
  width: 16px;
  height: 16px;
  background: url(_style_icons.png) no-repeat -50px -50px;
  outline: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  border-bottom-left-radius: 1px;
}
.toggle-idevice .show-idevice {
  background-position: 0 -50px;
}
.toggle-idevice span {
  position: absolute;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  height: 0;
}
.toggle-idevice a:hover,
.toggle-idevice a:focus {
  filter: alpha(opacity=100);
  opacity: 1;
}
/* em */
.iDevice_header .toggle-idevice {
  position: absolute;
  top: 14px;
  right: 14px;
}
/* No em */
.toggle-em0 {
  position: relative;
  top: 0;
  right: 15px;
  margin-bottom: -21px;
}
.toggle-em0 + .iDevice .iDevice_content p:first-child {
  padding-right: 50px;
}
/* To review */
.hidden-idevice .toggle-em0 {
  margin-bottom: 0;
}
/* iDevice title with background-color */
input.feedbackbutton {
  margin: 0;
}
.iDevice.emphasis1 {
  height: auto;
}
.iDevice_header {
  border-width: 1px;
  border-style: solid;
  padding-left: 13px;
}
.iDevice_inner {
  border-top: 0;
}
.ExternalUrlIdevice iframe {
  border: 0;
}
/* Reset base.css */
.block,
.feedback {
  padding: 0;
}
.feedback {
  font-family: inherit;
  font-size: 1em;
}
li {
  list-style-position: outside;
}
.styled-qc {
  margin-top: 2.5em;
}
.exe-dl .icon,
.exe-dl-toggler a {
  width: 24px;
  height: 24px;
  border-radius: 12px;
}
.exe-dl-toggler a {
  line-height: 22px;
}
.js .exe-dl dd {
  margin-left: 44px;
}
.exe-enlarge-icon b {
  font-size: 1.2em;
}
.pre-code {
  border-radius: 0;
}
/* Forms */
input,
select {
  font-size: 1em;
  font-family: inherit;
}
.iDevice_hint_title a {
  padding-left: 25px;
}
.iDevice_buttons input {
  font-size: 1em;
  margin-right: 0.5em;
  padding: 0.15em 0.45em;
}
.MultichoiceIdevice .feedback p:first-child {
  margin-top: 0;
}
.MultichoiceIdevice .activity-form,
.MultiSelectIdevice .activity-form {
  margin-bottom: 1em;
}
.TrueFalseIdevice .activity-form {
  margin-top: 1.5em;
}
.TrueFalseIdevice .activity-form:first-child {
  margin-top: 0;
}
.TrueFalseIdevice label {
  margin: 0 1em;
}
.MultichoiceIdevice input[type="radio"],
.MultiSelectIdevice input[type="checkbox"],
.QuizTestIdevice input[type="radio"] {
  width: 16px;
  height: 16px;
  margin: 5px 0 0 12px;
}
.custom-inputs .iDevice_answer-field {
  width: 40px;
}
.custom-inputs .iDevice_answer-content,
.custom-inputs .iDevice_answer-feedback {
  padding-left: 55px;
}
.custom-inputs .iDevice_answer-content {
  padding-top: 4px;
}
.styledRadio,
.styledCheckbox {
  margin-left: 12px;
}
.MultichoiceIdevice .feedback {
  margin-top: 1em;
}
.right-option,
.wrong-option {
  font-style: italic;
}
.readingIdevice .iDevice_content:first-child p:last-child,
.CasestudyIdevice .iDevice_content:first-child p:last-child {
  margin-bottom: 0;
}
.readingIdevice .feedbackbutton,
.CasestudyIdevice .feedbackbutton,
.ReflectionIdevice .feedbackbutton {
  margin: 0.5em 0 1em 0;
}
.TrueFalseIdevice .exe-radio-option.styledRadio {
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0 0;
}
/* Licenses */
#packageLicense {
  margin: 2.5em 0 8.5em 0;
  text-align: left;
  line-height: 1.2em;
  font-size: 0.9em;
}
#packageLicense.cc {
  padding-left: 95px;
  background: url(_style_licenses.png) no-repeat 0 0;
}
#packageLicense.cc-by-sa {
  background-position: 0 -100px;
}
#packageLicense.cc-by-nd {
  background-position: 0 -200px;
}
#packageLicense.cc-by-nc {
  background-position: 0 -300px;
}
#packageLicense.cc-by-nc-sa {
  background-position: 0 -400px;
}
#packageLicense.cc-by-nc-nd {
  background-position: 0 -500px;
}
#packageLicense.cc-0 {
  background-position: 0 -600px;
}
#siteFooter {
  padding: 20px;
}
/* Download package iDevice */
.download-packageIdevice .exe-download-package-link a {
  background: #333;
}
/* Lightbox */
.lightboxOverlay {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
  opacity: 0.95;
}
#lightbox .lb-caption {
  font-size: 1em;
}
/* Effects - iDevices with emphasis */
.emphasis1 .exe-fx .fx-C2,
.emphasis1 .exe-fx .fx-C2 a,
.emphasis1 .fx-pagination a {
  background: #ededed;
}
@media print {
  div.node {
    page-break-after: auto;
  }
  /* base.css */
  .iDevice {
    margin-bottom: 20px;
  }
  html body {
    background: #fff;
    color: #000;
    font-size: 11pt;
  }
  @page {
    margin: 1.5cm;
  }
  a[href^="http"] {
    font-weight: bold;
    text-decoration: none !important;
  }
  a[href^="http"]:after {
    content: " <" attr(href) "> ";
  }
  #main .iDeviceTitle {
    background: none;
    padding-left: 0;
  }
  .iDevice.emphasis1 {
    box-shadow: none;
  }
  body #header,
  body #emptyHeader,
  body #nodeDecoration {
    height: auto !important;
    min-height: 0;
    border: none;
    padding: 0;
  }
  #packageLicense.cc {
    padding-left: 0;
  }
  .toggle-idevice {
    display: none;
  }
}
/* eXeLearning Style Designer */
.iDevice_header {
  /*emTitleColor*/
  color: #0d528a;
  /*emTitleBGColor*/
  background-color: #f5f7f8;
  border-color: #f5f7f8;
}
.iDevice_inner {
  /*emBGColor*/
  background-color: #f5f7f8;
  border-color:/*emBorderColor*/ #f5f7f8;
}
.iDeviceTitle {
  background-image: url(icon_star.png);
}
.activityIdevice .iDeviceTitle {
  background-image: url(icon_assignment.png);
}
.readingIdevice .iDeviceTitle {
  background-image: url(icon_unread.png);
}
.FileAttachIdeviceInc .iDeviceTitle {
  background-image: url(icon_download.png);
}
.WikipediaIdevice .iDeviceTitle {
  background-image: url(icon_description.png);
}
.ListaIdevice .iDeviceTitle,
.QuizTestIdevice .iDeviceTitle,
.MultichoiceIdevice .iDeviceTitle,
.TrueFalseIdevice .iDeviceTitle,
.MultiSelectIdevice .iDeviceTitle,
.ClozeIdevice .iDeviceTitle {
  background-image: url(icon_question.png);
}
.preknowledgeIdevice .iDeviceTitle {
  background-image: url(icon_announcement.png);
}
.GalleryIdevice .iDeviceTitle {
  background-image: url(icon_media.png);
}
.objectivesIdevice .iDeviceTitle {
  background-image: url(icon_info.png);
}
.ReflectionIdevice .iDeviceTitle {
  background-image: url(icon_account.png);
}
.iDevice.emphasis0 {
  /*noEmColor*/
  color: #ffffff;
}
body {
  /*fontFamily*/
  font-family: Tahoma, Geneva, Arial, Helvetica, sans-serif;
  /*bodyColor*/
  color: #000000;
  /*fontSize*/
  font-size: 100%;
  /*contentBGColor*/
  background-color: #ffffff;
}
a {
  /*aColor*/
  color: #050505;
}
#header,
#emptyHeader,
#nodeDecoration {
  height: auto !important;
  height: 110px;
  /* min-height: 110px; */
  background-color: #7b5b7b;
  border: 1px solid /*headerBorderColor*/ #e1e4e5;
  display: flex;
  align-items: center;
  justify-content: left;
  position: relative;
}
#headerContent {
  /*headerTitleColor*/
  color: #ffffff;
  text-align: left;
}
#siteFooter {
  border: 1px solid /*footerBorderColor*/ #e1e4e5;
  /*footerColor*/
  color: #ffffff;
  /*footerBGColor*/
  background-color: #7b5b7b;
  /*footerFontSize*/
  font-size: 95%;
}
#siteFooter a {
  /*footerAColor*/
  color: #ecd078;
}
/* eXeLearning Style Designer (custom CSS) */
:root {
  --main-color: #263238 !important;
}
#siteNav {
  font-size: 14px;
  background-color: #37474f;
}
#siteNav li a {
  border-radius: 10px;
  border: none;
  width: auto;
  text-align: left;
}

#siteNav li a:hover {
  text-decoration: none !important;
  font-size: 15px;
}

.active {
  color: #ffffff !important;
  text-decoration: none !important;
}

#header {
  /*COLOR DE LETRA*/
  color: white !important;
  /*COLORES DEL HEADER*/
  background: var(--color-header-tablas);
  background: -moz-linear-gradient(
    30deg,
    var(--color-header-tablas) 58%,
    rgba(255, 255, 255, 0) 58%,
    rgba(255, 255, 255, 0) 83%,
    rgba(55, 71, 79, 1) 83%
  );
  background: -webkit-linear-gradient(
    30deg,
    var(--color-header-tablas) 58%,
    rgba(255, 255, 255, 0) 58%,
    rgba(255, 255, 255, 0) 83%,
    rgba(55, 71, 79, 1) 83%
  );
  background: linear-gradient(
    30deg,
    var(--color-header-tablas) 58%,
    rgba(255, 255, 255, 0) 58%,
    rgba(255, 255, 255, 0) 83%,
    rgba(55, 71, 79, 1) 83%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#00c853",endColorstr="#37474f",GradientType=1);
}

.iDevice_wrapper,
.iDevice {
  padding: 10px !important;
  background-color: #f1f1f1 !important;
  color: black !important;
  border-radius: 15px !important;
  box-shadow: none !important;
  overflow: auto;
}
article {
  margin-top: 1rem;
}
.iDevice,
.iDevice_header,
.iDevice_inner {
  border: none !important;
  background-color: #f1f1f1 !important;
}
#img_banner {
  background-image: var(--nombre-banner);
  background-repeat: repeat;
  background-size: 50%; /* TAMAÑO DEL BANNER*/
  background-position-x: 10%; /* POSICIÓN DEL BANNER EN EL EJE HORIZONTAL */
  background-position-y: 15%; /* POSICIÓN DEL BANNER EN EL EJE VERTICAL */
}
:root {
  --color-header-tablas: #19aaa3;
  --nombre-banner: url("banner-Tecnologia.jpg");
}
